<!-- edited these files to apply a work around for themes -->
<link rel="stylesheet" href="{{ "css/prism/prism-edited.min.css" | relURL }}" />
<link rel="stylesheet" href="{{ "css/prism/prism-tomorrow-dark-edited.min.css" | relURL }}" />
<script src="{{ "js/prism/prism-core.min.js" | relURL }}"></script>
<script src="{{ "js/prism/prism-asm6502.min.js" | relURL }}"></script>
<script src="{{ "js/prism/prism-bash.min.js" | relURL }}"></script>
<script src="{{ "js/prism/prism-shell-session.min.js" | relURL }}"></script>
<script>Prism.languages.console = Prism.languages['shell-session'];</script>
